<div class="results" >
<!-- <h1>amount to be converted: <%= @result[0] %></h1>
<h1>currency converted from: <%= @result[1] %></h1>
<h1>conversion to EUR: <%= @result[2] %></h1>
<h1>currency converted to: <%= @result[3] %></h1>
<h1>EUR conversion: <%= @result[4] %></h1>
 -->
 you have just converted <h3><%=@result[1] %>: <%=@result[0]%></h3> into <h2><%= @result[3] %>: <%= @result[5] %></h2>

<div class="go_back">Want to convert more currency?<button id="button" class="button">back</button></div>
</div>  
