<h1>amount to be converted: <%= @result[0] %></h1>
<h1>currency converted from: <%= @result[1] %></h1>
<h1>conversion to EUR: <%= @result[2] %></h1>
<h1>currency converted to: <%= @result[3] %></h1>
<h1>EUR conversion: <%= @result[4] %></h1>

<h1> from <%=@result[1] %>: <%=@result[0]%> you now have <%= @result[3] %>: <%= @result[5] %></h1>

